# TO FIND THE DEFAULTERS : CLASSIFICATION PROBLEM

In [224]:
import numpy as np 
import pandas as pd

In [225]:
credit_data=pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/Yhills_July12_Analytics/main/credit.csv")

In [226]:
credit_data.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes

In [227]:
credit_data.sample(5)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
895,unknown,36,poor,car,8947,unknown,4 - 7 years,3,2,31,store,own,1,management,2,yes,no
187,1 - 200 DM,16,critical,car,1175,< 100 DM,unemployed,2,3,68,none,other,3,unemployed,1,yes,no
486,unknown,12,good,furniture/appliances,3077,< 100 DM,1 - 4 years,2,4,52,none,own,1,skilled,1,yes,no
206,unknown,12,critical,furniture/appliances,1935,< 100 DM,> 7 years,4,4,43,none,own,3,skilled,1,yes,no
327,unknown,24,good,car,1525,> 1000 DM,4 - 7 years,4,3,34,none,own,1,skilled,2,yes,no

In [228]:
credit_data.shape

(1000, 17)

In [229]:
credit_data.dtypes

checking_balance        object
months_loan_duration     int64
credit_history          object
purpose                 object
amount                   int64
savings_balance         object
employment_duration     object
percent_of_income        int64
years_at_residence       int64
age                      int64
other_credit            object
housing                 object
existing_loans_count     int64
job                     object
dependents               int64
phone                   object
default                 object
dtype: object

In [230]:
credit_data.isnull().sum()

checking_balance        0
months_loan_duration    0
credit_history          0
purpose                 0
amount                  0
savings_balance         0
employment_duration     0
percent_of_income       0
years_at_residence      0
age                     0
other_credit            0
housing                 0
existing_loans_count    0
job                     0
dependents              0
phone                   0
default                 0
dtype: int64

In [231]:
credit_data.describe(include='all')

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
count,1000,1000.000000,1000,1000,1000.000000,1000,1000,1000.000000,1000.000000,1000.000000,1000,1000,1000.000000,1000,1000.000000,1000,1000
unique,4,NaN,5,6,NaN,5,5,NaN,NaN,NaN,3,3,NaN,4,NaN,2,2
top,unknown,NaN,good,furniture/appliances,NaN,< 100 DM,1 - 4 years,NaN,NaN,NaN,none,own,NaN,skilled,NaN,no,no
freq,394,NaN,530,473,NaN,603,339,NaN,NaN,NaN,814,713,NaN,630,NaN,596,700
mean,NaN,20.903000,NaN,NaN,3271.258000,NaN,NaN,2.973000,2.845000,35.546000,NaN,NaN,1.407000,NaN,1.155000,NaN,NaN
std,NaN,12.058814,NaN,NaN,2822.736876,NaN,NaN,1.118715,1.103718,11.375469,NaN,NaN,0.577654,NaN,0.362086,NaN,NaN
min,NaN,4.000000,NaN,NaN,250.000000,NaN,NaN,1.000000,1.000000,19.000000,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN
25%,NaN,12.000000,NaN,NaN,1365.500000,NaN,NaN,2.000000,2.000000,27.000000,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN
50%,NaN,18.000000,NaN,NaN,2319.500000,NaN,NaN,3.000000,3.000000,33.000000,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN
75%,NaN,24.000000,NaN,NaN,3972.250000,NaN,NaN,4.000000,4.000000,42.000000,NaN,NaN,2.000000,NaN,1.000000,NaN,NaN
max,NaN,72.000000,NaN,NaN,18424.000000,NaN,NaN,4.000000,4.000000,75.000000,NaN,NaN,4.000000,NaN,2.000000,NaN,NaN

In [232]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   object
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   object
 3   purpose               1000 non-null   object
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   object
 6   employment_duration   1000 non-null   object
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   object
 11  housing               1000 non-null   object
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   object
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   object
 16  default               1000 non-null   object
dtypes: int64(7), object(10)
memory usage: 132.9+ KB

## REMOVE AND FILL UNKNOWN VALUES

In [233]:
# is data as 'unknown'  on 'checking_balance' 
check_unknown = pd.DataFrame(credit_data.checking_balance=='unknown')  # if condition is satisfied check_unknown store True else False

credit_data[check_unknown['checking_balance'] == True]   # from temp take only those rows where checking_balance has True

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
5,unknown,36,good,education,9055,unknown,1 - 4 years,2,4,35,none,other,1,unskilled,2,yes,no
6,unknown,24,good,furniture/appliances,2835,500 - 1000 DM,> 7 years,3,4,53,none,own,1,skilled,1,no,no
8,unknown,12,good,furniture/appliances,3059,> 1000 DM,4 - 7 years,2,4,61,none,own,1,unskilled,1,no,no
16,unknown,24,critical,furniture/appliances,2424,unknown,> 7 years,4,4,53,none,own,2,skilled,1,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,unknown,12,critical,education,3565,unknown,< 1 year,2,1,37,none,own,2,unskilled,2,no,no
991,unknown,15,very good,furniture/appliances,1569,100 - 500 DM,> 7 years,4,4,34,bank,own,1,unskilled,2,no,no
994,unknown,12,good,car,2390,unknown,> 7 years,4,3,50,none,own,1,skilled,1,yes,no
995,unknown,12,good,furniture/appliances,1736,< 100 DM,4 - 7 years,3,4,31,none,own,1,unskilled,1,no,no
997,unknown,12,good,furniture/appliances,804,< 100 DM,> 7 years,4,4,38,none,own,1,skilled,1,no,no

In [234]:
credit_data.mode()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,unknown,24.0,good,furniture/appliances,1258,< 100 DM,1 - 4 years,4.0,4.0,27.0,none,own,1.0,skilled,1.0,no,no
1,NaN,NaN,NaN,NaN,1262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,1275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,1393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,1478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [235]:
credit_data['checking_balance'].mode() 
# here the unknown value is mode of this column which would be replaced by mode . but in this case it is replace by second mode of this column.

0    unknown
Name: checking_balance, dtype: object

In [236]:
credit_data['checking_balance'].value_counts()   # count all value in this column 
# second mode of this column is < 0 DM which has frequency of 274 .

unknown       394
< 0 DM        274
1 - 200 DM    269
> 200 DM       63
Name: checking_balance, dtype: int64

In [237]:
credit_data['savings_balance'].mode()

0    < 100 DM
Name: savings_balance, dtype: object

In [238]:
# Missing values have a'unknown''
# Replace missing values with NaN
credit_data =credit_data.replace('unknown', np.nan)
credit_data[check_unknown['checking_balance']== True]

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
2,NaN,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
5,NaN,36,good,education,9055,NaN,1 - 4 years,2,4,35,none,other,1,unskilled,2,yes,no
6,NaN,24,good,furniture/appliances,2835,500 - 1000 DM,> 7 years,3,4,53,none,own,1,skilled,1,no,no
8,NaN,12,good,furniture/appliances,3059,> 1000 DM,4 - 7 years,2,4,61,none,own,1,unskilled,1,no,no
16,NaN,24,critical,furniture/appliances,2424,NaN,> 7 years,4,4,53,none,own,2,skilled,1,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,NaN,12,critical,education,3565,NaN,< 1 year,2,1,37,none,own,2,unskilled,2,no,no
991,NaN,15,very good,furniture/appliances,1569,100 - 500 DM,> 7 years,4,4,34,bank,own,1,unskilled,2,no,no
994,NaN,12,good,car,2390,NaN,> 7 years,4,3,50,none,own,1,skilled,1,yes,no
995,NaN,12,good,furniture/appliances,1736,< 100 DM,4 - 7 years,3,4,31,none,own,1,unskilled,1,no,no
997,NaN,12,good,furniture/appliances,804,< 100 DM,> 7 years,4,4,38,none,own,1,skilled,1,no,no

In [239]:
credit_data['checking_balance'] = credit_data['checking_balance'].replace(np.nan, '< 0 DM ')
credit_data['savings_balance'] = credit_data['savings_balance'].replace(np.nan, '< 100 DM ')

In [240]:
credit_data.sample(15)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
84,< 0 DM,10,good,furniture/appliances,2315,< 100 DM,> 7 years,3,4,52,none,own,1,unskilled,1,no,no
848,< 0 DM,9,good,furniture/appliances,1364,< 100 DM,4 - 7 years,3,4,59,none,own,1,skilled,1,no,no
519,< 0 DM,6,critical,furniture/appliances,700,< 100 DM,> 7 years,4,4,36,none,other,2,skilled,1,no,no
561,< 0 DM,24,very good,furniture/appliances,1546,< 100 DM,4 - 7 years,4,4,24,bank,rent,1,unskilled,1,no,yes
105,1 - 200 DM,24,critical,car0,11938,< 100 DM,1 - 4 years,2,3,39,none,own,2,management,2,yes,yes
813,< 0 DM,48,good,furniture/appliances,3051,< 100 DM,1 - 4 years,3,4,54,none,own,1,skilled,1,no,yes
421,1 - 200 DM,12,good,car,2028,< 100 DM,1 - 4 years,4,2,30,none,own,1,skilled,1,no,no
16,< 0 DM,24,critical,furniture/appliances,2424,< 100 DM,> 7 years,4,4,53,none,own,2,skilled,1,no,no
782,1 - 200 DM,12,perfect,education,1410,< 100 DM,1 - 4 years,2,2,31,none,own,1,unskilled,1,yes,no
336,1 - 200 DM,13,good,furniture/appliances,2101,< 100 DM,< 1 year,2,4,23,none,own,1,unskilled,1,no,no
990,< 0 DM,12,critical,education,3565,< 100 DM,< 1 year,2,1,37,none,own,2,unskilled,2,no,no
151,< 0 DM,10,good,furniture/appliances,1924,< 100 DM,1 - 4 years,1,4,38,none,own,1,skilled,1,yes,no
234,< 0 DM,4,critical,furniture/appliances,1544,< 100 DM,4 - 7 years,2,1,42,none,own,3,unskilled,2,no,no
612,< 0 DM,21,good,furniture/appliances,3357,> 1000 DM,< 1 year,4,2,29,bank,own,1,skilled,1,no,no
230,> 200 DM,36,good,furniture/appliances,4210,< 100 DM,1 - 4 years,4,2,26,none,own,1,skilled,1,no,yes

## CORRECT MISPRINT DATA-VALUE

In [241]:
# is data as 'car0'  on 'purpose' 
check_car0= pd.DataFrame(credit_data.purpose=='car0')  # if condition is satisfied check_car0 store True else False

credit_data[check_car0['purpose'] == True]   # from temp take only those rows where purpose has True

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
72,< 0 DM,8,critical,car0,1164,< 100 DM,> 7 years,3,4,51,bank,other,2,management,2,yes,no
83,< 0 DM,24,good,car0,1755,< 100 DM,> 7 years,4,4,58,none,own,1,unskilled,1,yes,no
105,1 - 200 DM,24,critical,car0,11938,< 100 DM,1 - 4 years,2,3,39,none,own,2,management,2,yes,yes
287,1 - 200 DM,48,poor,car0,7582,100 - 500 DM,unemployed,2,4,31,none,other,1,management,1,yes,no
310,1 - 200 DM,48,good,car0,5381,< 100 DM,unemployed,3,4,40,bank,other,1,unemployed,1,yes,no
374,1 - 200 DM,60,very good,car0,14782,100 - 500 DM,> 7 years,3,4,60,bank,other,2,management,1,yes,yes
431,1 - 200 DM,24,good,car0,11328,< 100 DM,1 - 4 years,2,3,29,bank,own,2,management,1,yes,yes
442,1 - 200 DM,20,poor,car0,2629,< 100 DM,1 - 4 years,2,3,29,bank,own,2,skilled,1,yes,no
594,< 0 DM,24,very good,car0,1358,< 100 DM,> 7 years,4,3,40,store,own,1,management,1,yes,yes
665,< 0 DM,24,critical,car0,6314,< 100 DM,unemployed,4,2,27,bank,own,2,management,1,yes,no
818,< 0 DM,36,good,car0,15857,< 100 DM,unemployed,2,3,43,none,own,1,management,1,no,no
915,1 - 200 DM,48,perfect,car0,18424,< 100 DM,1 - 4 years,1,2,32,bank,own,1,management,1,yes,yes

In [242]:
# Missing values have a 'car0'
# Replace missing values with NaN
credit_data =credit_data.replace('car0', np.nan)
# this is a spelling mistake so car0 should replace by  car not by the mode

In [243]:
credit_data['purpose'] = credit_data['purpose'].replace(np.nan, 'car')

In [244]:
credit_data.sample(15)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
871,> 200 DM,6,critical,car,1343,< 100 DM,> 7 years,1,4,46,none,own,2,skilled,2,no,no
117,< 0 DM,10,critical,furniture/appliances,2132,< 100 DM,< 1 year,2,3,27,none,rent,2,skilled,1,no,no
26,< 0 DM,6,perfect,furniture/appliances,426,< 100 DM,> 7 years,4,4,39,none,own,1,unskilled,1,no,no
113,< 0 DM,36,critical,car,7855,< 100 DM,1 - 4 years,4,2,25,store,own,2,skilled,1,yes,yes
750,< 0 DM,6,good,furniture/appliances,428,< 100 DM,> 7 years,2,1,49,bank,own,1,skilled,1,yes,no
877,< 0 DM,36,good,furniture/appliances,3595,< 100 DM,> 7 years,4,2,28,none,own,1,skilled,1,no,no
869,< 0 DM,12,good,furniture/appliances,652,< 100 DM,> 7 years,4,4,24,none,rent,1,skilled,1,no,no
748,< 0 DM,21,good,car,5248,< 100 DM,1 - 4 years,1,3,26,none,own,1,skilled,1,no,no
569,< 0 DM,48,good,furniture/appliances,6758,< 100 DM,1 - 4 years,3,2,31,none,own,1,skilled,1,yes,yes
966,1 - 200 DM,27,critical,furniture/appliances,2520,500 - 1000 DM,1 - 4 years,4,2,23,none,own,2,unskilled,1,no,yes
755,< 0 DM,24,good,car,1285,< 100 DM,4 - 7 years,4,4,32,none,rent,1,skilled,1,no,yes
515,< 0 DM,6,critical,car,609,< 100 DM,4 - 7 years,4,3,37,none,own,2,skilled,1,no,no
84,< 0 DM,10,good,furniture/appliances,2315,< 100 DM,> 7 years,3,4,52,none,own,1,unskilled,1,no,no
425,1 - 200 DM,18,good,car,2779,< 100 DM,1 - 4 years,1,3,21,none,rent,1,skilled,1,yes,no
593,1 - 200 DM,24,good,car,2718,< 100 DM,1 - 4 years,3,4,20,none,rent,1,unskilled,1,yes,yes